body, html {
    padding: 0px; 
    margin: 0px;
    height: 100%;
    width: 100%;
}

.test {
    display: block;
    height: 50px;
}

p {
    font-family: Geneva;
    font-size: 20px;
    padding: 10%;
}
 .title {
     display: block;
     text-align: center;
 }

 .login, .submit {
    display: block;
    padding: 15px;
    overflow: hidden;
    text-align: center;
    width: 200px;
    font-family: tahoma;
    margin: auto;
    margin-top: 10px;
    border-width: 0px;
    border-radius: 5px;
    background-color: lightsalmon;
    color: rgb(29, 110, 110);
 }
