body, html {
    padding: 0px; 
    margin: 0px;
    height: 100%;
    width: 100%;
}

p {
    font-family: Geneva;
    font-size: 20px;
    padding: 10%;
}
 .title {
     display: block;
     text-align: center;
 }
