body, html {
    padding: 0px; 
    margin: 0px;
    height: 100%;
    width: 100%;
}

p {
    margin: 5% 10%;
    font-family: tahoma;
    font-size: 20px;
}

 h1 {
    color: black;
    font-family: impact;
}


.description {
    position: relative;
    top: 15px;
    padding: 10px;
    display: flex;
}

.title {
    position: absolute;
    margin-top: 0;
    margin-bottom: 10px;
    top: 0;
    height: 40px;
    width: 100%;
    text-align: center;
    background-color: lightskyblue;
}