.avatars {
    position: absolute;
    height: 100%;
    width: 100%;
    margin: auto;
    padding-top: 80px;
    text-align: center;
}

.avatar, h2, h3 {
    margin: auto;
    margin-bottom: 10px;
    text-align: center;
    align-content: center;
    /* position: ; */
    display: inline-block;
    z-index: 1;
    width: 33.33%;
}

@media only screen and (min-width: 1055px) {
    .avatar, h2, h3 {
        width: 25%;
    }
  }

  @media only screen and (max-width: 840px) {
    .avatar, h2, h3 {
        width: 50%;
    }
  }
 
  @media only screen and (max-width: 510px) {
    .avatar, h2, h3 {
        width: 90%;
    }
  }  

h2, h3 {
    text-align: left;
    font-family: tahoma;
    position: relative;
    width: 240px;
    top: -28px;
    border-radius: 0px 0px 5px 5px;
}

h2 {
    white-space: nowrap;
    background-color: lightsalmon;
    height: 30px;
    overflow-y: auto;
    padding: 0px 5px;
    top: -10px;
}

h3 {
    background-color: lightblue;
    padding: 10px 5px;
    z-index: -1;
}