.content {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.avatars {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: flex-start;
}

.avatar {
    margin-bottom: 10px;
    text-align: center;
}

h2, h3 {
    text-align: left;
    font-family: tahoma;
    position: relative;
    width: 240px;
    top: -28px;
    border-radius: 0px 0px 5px 5px;
    margin: auto;
    margin-bottom: 10px;
    text-align: center;
}

h2 {
    white-space: nowrap;
    background-color: white;
    height: 30px;
    overflow-y: auto;
    padding: 0px 5px;
    top: -10px;
}

h3 {
    background-color: lightskyblue;
    padding: 10px 5px;
    z-index: -1;
}