.avatars {
    position: absolute;
    height: 100%;
    width: 100%;
    margin: 80px 2%;
    margin-bottom: 30vh;
}

.avatar {
    position: relative;
    display: inline-block;
    z-index: 1;
    margin: auto;
    margin: 3vw;
}

h2 {
    white-space: nowrap;
    font-family: tahoma;
    background-color: lightsalmon;
    position: relative;
    padding-left: 5px;
    width: 245px;
    height: 30px;
    overflow-y: scroll;
    top:-25px;
    border-radius: 0px 0px 5px 5px;
}